.label-default {
	background-color: #ffffff;
	color: #5a5a5a;
	border: 1px solid #d4d4d4;
}

.label-important {
	background-color: #777;
}

.tags .label {
	margin: 0 4px;
}

.todo {
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    color: #777;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 20px;

    .todo-content {
    	padding: 8px;

    	p {
    		margin: 0;

    		&.todo-important {
    			font-weight: 700;
    		}
    	}
    }

    .tags {
    	background-color: #f5f5f5;
    	padding: 4px;
    }
}

ul {
	list-style-type: none;
}